<header>
    <div class="container">
        <div class="logo">
            <img src="/images/logo2.png" alt="">
        </div>    
        <div class="mobile-nav">
            <i class="fas fa-bars"></i>
        </div>
        <div class="content-nav">
            <nav>
                <a href="#" class="">La Empresa</a>
                <a href="#" class="">Tasaciones</a>
                <a href="#" class="">Login</a>
            </nav>
        </div>
    </div>
</header>