<header>
    <div class="container">
        <div class="logo">
            <img src="/images/logo2.png" alt="">
        </div>    
        <div class="mobile-nav">
            <i class="fas fa-bars"></i>
        </div>
        <div class="content-nav">
            <nav>
                <a href="/laempresa" >La Empresa</a>
                <a href="/tasaciones" class="">Tasaciones</a>
                <% if (!locals.isLogged) { %>
                    <a href="/users/login" class="">Login</a>
                <% } else{%>
                   <div>
                    <a href="/users/profile" class="">Hola <%= locals.userLogged.nombre %> </a>
                    <a href="/users/logout" class="">Logout</a>
                    <img src="/images/users/<%= locals.userLogged.imagen %> "  style="border-radius: 100%; width: 40px">
                    <%}%>
                </div>
            </nav>
        </div>
    </div>
</header>