<!DOCTYPE html>
<html lang="en">

<%- include("./partials/heads/headDef") %>
<%- include("./partials/header") %>

<body>
    
  <img src="../images/error_403.png" class="d-block w-100" alt="...">

  <%- include("./partials/footer") %> 

</body>
</html>