<!DOCTYPE html>
<html lang="en">
<head>
    <!--POR DEFECTO-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta</title>
    
    <!--TIPOGRAFIA-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <!--ICONOS-->
    <script src="https://kit.fontawesome.com/dcce2b7d15.js" crossorigin="anonymous"></script>
    
    <!--CSS-->
    <link rel="stylesheet"  href="css/crearcuenta.css">
</head>
<body>

    <!--HEADER-->
    <div id="container-main">

        <%- include("./partials/header") %>

<!--MAIN-->
        <main>
            <section class="container-1">
                <div class="container-titulo">
                    <p>Para acceder a los detalles de las publicaciones, primero debes crear una cuenta</p>
                </div>
                <div class="formulario">
                    <p>Ingresa tus datos</p>
                    <form action="/registro" mathod="POST">
                        <input type="text" name="nombre" placeholder="Nombre">
                        <br>
                        <input type="text" name="email"  placeholder="E-mail*">
                        <br>
                        <input type="text" name="teléfono" placeholder="Teléfono">
                        <!--botones de red social-->
                        <div class="popup-content"></div>
                            <button id="" type="button" class="bton bton_facebook" >
                                <i class="fab fa-facebook-f"></i>
                                Iniciar sesión
                            </button>
                            <button id="" type="button" class="bton bton_google" >
                                <i class="fab fa-google"></i>
                                Iniciar sesión
                            </button>
                            <button id="" type="button" class="bton bton_apple" >
                                <i class="fab fa-apple"></i>
                                Iniciar sesión
                            </button>

                        <!--botones-->
                        <section class="ya-hay">
                            <p>¿Ya tienes una cuenta?</p>
                            <a href="#" class="">Inicia sesión</a>

                        </section>
                        <button type="submit" id="" class="bton bton_login">
                            Iniciar sesión
                        </button>
                    </form>

                </div>



            </section>









        </main>
    
    <!--FOOTER-->
  
    <%- include("./partials/footer") %> 
    

</body>
</html>