<!DOCTYPE html>
<html lang="en">

        <%- include("./partials/heads/headforgot") %>


<body>
    <div id="container-main">
        
        <%- include("./partials/header") %> 
        
        <main>
            <section class="forgot">
                <div class="forgot_container">
                    <div class="login_form">
                        <div class="popup-header">
                            <p class="login-title">¿Olvidaste tu contraseña?</p>
                            <button class="popup-close">
                                <i class="far fa-window-close"></i>
                            </button>
                        </div>
                        <div class="popup-content"></div>
                            <form class="contactar" action="/" method="POST" class="create-form">
                                <div class="control-formulario">
                                    <input type="text" name="mail" placeholder="Email *">
                                </div>    
                                <button type="submit" id="" class="bton bton_login">
                                    Recuperar contraseña
                                </button>
                            </form>  
                        </div>
                    </div>
                </div> 
            </section>              
        </main>
        

        <%- include("./partials/footer") %> 
        
    </div>   
</body>
</html>