<%- include("./partials/headmariano") %> 
<body>
    <div id="container-main">
        <%- include("./partials/header") %> 
        <main>
            <div class="container">
                <!-- APPLICATION -->
                <div id="App" class="row pt-5">
                    <div class="card-title">
                        <h3>Agregar una propiedad</h3>
                    </div>
                    <!-- FORM -->
                    <div class="col-md-12">
                        <div class="card">
                            <form id="product-form" class="card-body">
                                <div class="card-header">
                                    <h5>Información General:</h5>
                                </div>
                                <div class="form-group">
                                    <label>Titulo</label>
                                    <input type="text" id="titulo" placeholder="" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select type="select" id="estado"  class="form-control">
                                        <option value="activo">Activo</option>
                                        <option value="inactivo" selected>Inactivo</option>
                                    </select>    
                                </div>
                                <div class="form-group">
                                    <label>Tipo de operación:</label>
                                    <select type="select" id="tipoperacion"  class="form-control">
                                        <option value="alquiler">Alquiler</option>
                                        <option value="venta" selected>Venta</option>
                                    </select>    
                                </div>
                                <div class="form-group">
                                    <label>Tipo de propiedad:</label>
                                    <select type="select" id="tipopropiedad"  class="form-control">
                                        <option value="departamento"  selected>Departamento</option>
                                        <option value="casa">Casa</option>
                                        <option value="oficina">Oficina</option>
                                        <option value="terreno">Terreno</option>
                                        <option value="local">Local</option>
                                    </select>    
                                </div>
                                <div class="form-group">
                                    <label>Precio:</label>
                                    <input type="number" id="precio" placeholder="" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Dirección:</label>
                                    <input type="text" id="direccion" placeholder="" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Barrio:</label>
                                    <input type="text" id="barrio" placeholder="" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Latitud (Google Maps):</label>
                                    <input type="text" id="latitud" placeholder="" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Longitud (Google Maps):</label>
                                    <input type="text" id="longitud" placeholder="" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Descripción general:</label>
                                    <textarea id="decripciongral" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Superficie total:</label>
                                    <input type="number" id="suptotal" placeholder="" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Superficie cubierta:</label>
                                    <input type="number" id="supcubierta"  class="form-control">
                                </div>
                                <div class="form-group">    
                                    <label>Superficie descubierta:</label>
                                    <input type="number" id="supdescubierta"  class="form-control">
                                </div>
                                <div class="card-header">
                                    <h5>Descripción del inmueble:</h5>
                                </div>
                                    <div class="form-group">    
                                        <label for="ambientes">Ambientes:</label><br>
                                        <input type="number" id="ambientes" class="form-control">
                                        <label for="dormitorios">Cantidad de dormitorios:</label><br>
                                        <input type="number" id="dormitorios" class="form-control">
                                        <label for="banios">Cantidad de baños:</label><br>
                                        <input type="number" id="banios" class="form-control">
                                        <label for="medcocina">Medida de la cocina:</label><br>
                                        <input type="text" id="medcocina" class="form-control">
                                        <label for="tipococina">Tipo de cocina:</label><br>
                                        <input type="text" id="tipococina" class="form-control">
                                        <input type="checkbox" id="lavadero" name="lavadero" value="si">
                                        <label for="lavadero">Lavadero</label><br>
                                        <input type="checkbox" id="balcon" name="balcon" value="si">
                                        <label for="balcon">Balcón:</label><br>
                                        <input type="checkbox" id="baulera" name="baulera" value="si">
                                        <label for="baulera">Baulera:</label><br>
                                        <input type="checkbox" id="palier" name="palier" value="si">
                                        <label for="palier">Palier compartido</label><br>
                                        <input type="checkbox" id="recepcion" name="recepcion" value="si">
                                        <label for="recepcion">Recepción</label><br>
                                        <input type="checkbox" id="calefaccion" name="calefaccion" value="si">
                                        <label for="calefaccion">Calefacción</label><br>     
                                        <input type="checkbox" id="aire" name="aire" value="si">
                                        <label for="calefaccion">Aire acondicionado</label><br>     
                                        <input type="checkbox" id="calefaccion" name="calefaccion" value="si">
                                        <label for="calefaccion">Calefacción</label><br>     
                                </div>
                                <div class="card-header">
                                    <h5>Descripción complementaria:</h5>
                                </div>
                                <div class="form-group">    
                                    <label for="expensas">Expensas:</label><br>     
                                    <input type="number" id="expensas" class="form-control">
                                </div> 
                                <div class="form-group">    
                                    <label for="abl">ABL:</label><br>     
                                    <input type="number" id="abl" class="form-control">
                                </div>
                                <div class="form-group">    
                                    <label for="tipopiso">Tipo de piso:</label><br>     
                                    <input type="number" id="tipopiso" class="form-control">
                                </div> 
                                <div class="form-group">    
                                    <label for="nropisos">Nº de Pisos del Edificio:</label><br>     
                                    <input type="number" id="nropisos" class="form-control">
                                </div>
                                <div class="form-group">    
                                    <label for="dptosxpisos">Deptos. por Piso:</label><br>     
                                    <input type="number" id="ptosxpisos" class="form-control">
                                </div>
                                <div class="form-group">    
                                    <label for="ascensor">Ascensor:</label><br>     
                                    <input type="number" id="ascensor" class="form-control">
                                </div>
                                <div class="card-header">
                                    <h5>Plano:</h5>
                                </div>
                                <input type="file" class="form-control-file" id="planos">
                                <div class="card-header">
                                    <h5>Amenities:</h5>
                                </div>
                                <div class="form-group">  
                                    <input type="checkbox" id="gimnasio" name="gimnasio" value="si">  
                                    <label for="gimnasio">Gimnasio:</label><br>       
                                    <input type="checkbox" id="lavaderocen" name="lavaderocen" value="si">  
                                    <label for="lavaderocen">Lavadero Central:</label><br>       
                                    <input type="checkbox" id="sum" name="sum" value="si">  
                                    <label for="sum">S.U.M.:</label><br>       
                                    <input type="checkbox" id="solarium" name="solarium" value="si">  
                                    <label for="solarium">Solarium:</label><br>       
                                    <input type="checkbox" id="salonfiestas" name="salonfiestas" value="si">  
                                    <label for="salonfiestas">Salón de Fiestas:</label><br>       
                                    <input type="checkbox" id="guardabici" name="guardabici" value="si">  
                                    <label for="guardabici">Guarda Bicicletas:</label><br>       
                                    <input type="checkbox" id="piscina" name="piscina" value="si">  
                                    <label for="piscina">Piscina:</label><br>       
                                    <input type="checkbox" id="quincho" name="quincho" value="si">  
                                    <label for="quincho">Quincho:</label><br>       
                                    <input type="checkbox" id="parrilla" name="parrilla" value="si">  
                                    <label for="parrilla">Parrilla:</label><br>       
                                    <input type="checkbox" id="seguridad" name="seguridad" value="si">  
                                    <label for="seguridad">Seguridad 24 hs:</label><br>       
                                    <input type="checkbox" id="grupoelec" name="grupoelec" value="si">  
                                    <label for="grupoelec">Grupo Electrógeno:</label><br>       
                                </div>
                                <div class="card-header">
                                    <h5>Fotos Galeria</h5>
                                </div>
                                <div class="form-group">  
                                    <input type="file" multiple class="form-control-file" id="fotos">
                                </div> 
                                <div class="card-header">
                                    <h5>Videos</h5>
                                </div>   
                                <div class="form-group">
                                    <label>Youtube:</label>
                                    <input type="text" id="youtube" placeholder="Ingresa un ID de video, Ej: bU1QPtOZQZU" class="form-control">
                                </div>  
                                <div class="form-group">
                                    <label>Vimeo:</label>
                                    <input type="text" id="vimeo" placeholder="Ingresa un ID de video, Ej: 134173961" class="form-control">
                                </div> 
                                <input type="submit" value="Guardar" class="bton bton_login">
                            </form>
                        </div>
                    </div>
            </div>          
        </main>
        <%- include("./partials/footer") %> 
    </div>

</body>
</html>