<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto inmobiliaria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a3b2b69ee.js" crossorigin="anonymous"></script>
    <link rel = 'stylesheet' href="/css/normalize.css">
    <link rel="stylesheet" href="css/styles_her.css">
</head>
<body>
    
</body>
</html>