<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto inmobiliaria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a3b2b69ee.js" crossorigin="anonymous"></script>
    <link rel = 'stylesheet' href="/css/normalize.css">
    <link rel="stylesheet" href="css/styles_her.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <!-- <img src="images/logo-mercado-liebre.svg" class="Logo"> -->
          
        </div>
        
        <nav class="top-navbar">

            <ul>
                <li><a href="/register">Registrarse <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Iniciar seción <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Contacto <i class="far fa-envelope"></i></a></li>
                <li><a href="#">servicios <i class="fas fa-concierge-bell"></i></a></li>
                <li><a href="#">Nosotros <i class="fas fa-users"></i></a></li>
            </ul>
        </nav>
    </header>

    <div class="form-buscar">
    <form action="/" method="POST">
        <div>
            <input type="text" name="buscar" id="buscar" placeholder="Buscar">
        </div>
        <div>       
            <button type="submit"><i class="fas fa-search"></i></button>  
         </div> 
    </form>
    </div>

    <nav class="main-navbar">
        <ul>
            <li><a href="#">Comprar </a></li>
            <li><a href="#">Vender </a></li>
            <li><a href="#">Alquileres </a></li>
            <li><a href="#">Departamentos </a></li>
            <li><a href="#">Casas</a></li>
            <li><a href="#">Casaquintas </a></li>
            <li><a href="#">Locales </a></li>
            <li><a href="#">otros </a></li>
        </ul>
    </nav>    

    <div class="destacadas">
        <img src="images/Casa1_destacada.jpg" class="foto-destacadas">
        <img src="images/Casa2_destacada.jpg" class="foto-destacadas">
    </div>



</body>
</html>