<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a Anchorena Propiedades</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a3b2b69ee.js" crossorigin="anonymous"></script>
    <link rel = 'stylesheet' href="/css/normalize.css">
    <link rel="stylesheet" href="css/styles_her.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="images/logo.png" class="logo">
          
        </div>
        
        <nav class="top-navbar">

            <ul>
                <li><a href="/register">Registrarse <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Iniciar seción <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Contacto <i class="far fa-envelope"></i></a></li>
                <li><a href="#">servicios <i class="fas fa-concierge-bell"></i></a></li>
                <li><a href="#">Nosotros <i class="fas fa-users"></i></a></li>
            </ul>
        </nav>
        <!-- <a href="#" class="hamburguer-button">
            <i class="fa fa-bars"></i>
        </a> -->

    </header>

    <div class="form-buscar">
    <form action="/" method="POST">
        <div class="div-buscar">
            <input type="text" name="buscar" id="buscar" placeholder="Buscar">
        </div>
        <div>       
            <button type="submit"><i class="fas fa-search"></i></button>  
         </div> 
    </form>
    </div>

    <nav class="main-navbar">
        <ul>
            <li><a href="#">Comprar </a></li>
            <li><a href="#">Vender </a></li>
            <li><a href="#">Alquileres </a></li>
            <li><a href="#">Departamentos </a></li>
            <li><a href="#">Casas</a></li>
            <li><a href="#">Countries </a></li>
            <li><a href="#">Locales </a></li>
            <li><a href="#">otros </a></li>
        </ul>
    </nav>    

    <div class="destacadas">
        <div class="foto-destacadas"><a href="#" ><img src="images/Casa1_destacada.jpg" width="45%" > </a> </div>
        <div class="foto-destacadas"><a href="/productDetail" ><img src="images/departamento.jpg" width="45%"> </a> </div>
    </div>



</body>

<footer>
    <div class="footer_container">
        <div class="footer_site-info">
                <p class="footer_site-description">
                        Encontrá propiedades e inmuebles en venta y alquiler, casas, departamentos, terrenos, locales, oficinas, quintas, PH, cocheras y más en Argenprop.
                </p>
                <ul>
                    <li>
                        <a href="#">Términos y Condiciones</a>
                    </li>
                    <li>
                        <a href="#">Normas de Confidencialidad y Privacidad</a>
                    </li>
                </ul>
        </div>
        <div class="footer_site-map">
            <p class="footer_title">Mapa de sitio</p>
            <ol>
                <li><a href="/"><i class="fas fa-chevron-right"></i> Buscar propiedades</a></li>
                <li><a href="#"><i class="fas fa-chevron-right"></i> Emprendimientos</a></li>
                <li><a href="#"><i class="fas fa-chevron-right"></i> Countries</a></li>
                <li><a href="#"><i class="fas fa-chevron-right"></i></i> Garantías de Alquiler</a></li>
                <li><a href=""><i class="fas fa-chevron-right"></i></i> Publicar</a></li>
                <li><a href=""><i class="fas fa-chevron-right"></i> Mi cuenta</a></li>
                <li><a href=""><i class="fas fa-chevron-right"></i> Contactenos</a></li>
            </ol>
        </div>
        <div class="footer_site-contact">
            <p class="footer_title">Contacto</p>
            <ul>
                <li>Escribinos a info@anchorenaprop.com,
                Debido a la situación actual estamos respondiendo todas las consultas vía email.</li>
            </ul>
            <ul class="social-icons">
                <li>
                    <a href="#" target="_blank" rel="noopener">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" target="_blank" rel="noopener">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" target="_blank" rel="noopener">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                    <a href="#" target="_blank" rel="noopener">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="#" target="_blank" rel="noopener">
                        <i class="fab fa-pinterest-square"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>    
</footer>

</html>