<!DOCTYPE html>
<html lang="en">


    <%- include("./partials/heads/headlaempresa.ejs") %>


<body>

    <!--HEADER-->
    <div id="container-main">

        <%- include("./partials/header") %>

<!--MAIN-->
        <main>
            <section class="section-main">
                <div class="titulo">
                    <p>¿Que es Anchorena Propiedades?</p>
                </div>
                <div class="parrafo-1">
                    
                    <p>Desde 1997 Anchorena Propiedades ha ofrecido los mejores servicios inmobiliarios de la Republica Rgentina. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis atque illo id a quaerat tempore iusto autem, corrupti adipisci obcaecati nisi excepturi eos sequi illum cumque? 
                        Perspiciatis eveniet voluptatem beatae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident necessitatibus ipsam cupiditate voluptates fugit, non neque aliquam accusamus nostrum pariatur voluptate ullam, sit quod dolores distinctio maiores saepe debitis quo!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur distinctio sed incidunt aliquam blanditiis tenetur nemo, doloremque corrupti itaque ex aspernatur cum quae numquam quidem dolor nesciunt sunt esse perferendis?</p>
                </div>
                <div class="parrafo-2">
                    <p>El equipo de Anchorena Propiedades</p>
                </div>

                <div class="titulo-2">
                    <p>¿Quienes somos?</p>
                </div>
                <section class="parrafo-3">
                    
                    <div class= "perfil">
                        <img src="images/perfil.jpg" alt="perfil1" height="200px" width="150px">
                        <p class="nombres">Martín Richiello</p>
                        <p class="biografia">Estudiante de Digital House y CEO de Anchorena Propiedades. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias porro, earum, maxime tenetur obcaecati dolore velit corrupti ut mollitia excepturi reprehenderit, deserunt delectus quos enim consequuntur deleniti ea dolorum tempore.</p>

                    </div>
                    <div class= "perfil">
                        <img src="images/perfil.jpg" alt="perfil1" height="200px" width="150px">
                        <p class="nombres">Hernan Minore</p>
                        <p class="biografia">Estudiante de Digital House y CEO de Anchorena Propiedades</p>

                    </div>
                    <div class= "perfil">
                        <img src="images/perfil.jpg" alt="perfil1" height="200px" width="150px">
                        <p class="nombres">Mariano Ramos</p>
                        <p class="biografia">Estudiante de Digital House y CEO de Anchorena Propiedades</p>

                    </div>
                </section>







            </section>








        </main>
    
    <!--FOOTER-->
  
    <%- include("./partials/footer") %> 
    

</body>
</html>