<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a Anchorena Propiedades</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles_mariano2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/565ee1d35a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container-main">
        <header>
            <div class="container">
                <div class="logo">
                    <img src="/images/logo2.png"" alt="">
                </div>    
                <div class="mobile-nav">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="content-nav">
                    <nav>
                        <a href="#" class="">Buscar</a>
                        <a href="#" class="">La Empresa</a>
                        <a href="#" class="">Tasaciones</a>
                        <a href="#" class="">Sucursales</a>
                        <a href="#" class="">Contacto</a>
                        <a href="/login" class="">Ingresar</a>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <section class="login">
                <div class="log_container">
                    <div class="login_form">
                        <div class="popup-header">
                            <p class="login-title">Iniciar sesión</p>
                            <button class="popup-close">
                                <i class="far fa-window-close"></i>
                            </button>
                        </div>
                        <div class="popup-content"></div>
                            <button id="" type="button" class="bton bton_facebook" >
                                <i class="fab fa-facebook-f"></i>
                                Iniciar sesión
                            </button>
                            <button id="" type="button" class="bton bton_google" >
                                <i class="fab fa-google"></i>
                                Iniciar sesión
                            </button>
                            <button id="" type="button" class="bton bton_apple" >
                                <i class="fab fa-apple"></i>
                                Iniciar sesión
                            </button><br>

                            <form class="contactar" action="/" method="POST" class="create-form">
                                <div class="control-formulario">
                                    <input type="text" name="mail" placeholder="Email *">
                                </div>    
                                <div class="control-formulario">
                                <input type="text" name="tel" placeholder="Teléfono">
                                </div>
                                <div class="remember-forgot">
                                    <label class="checkbox-styled"><input checked="checked" class="remember-me" id="Login_RememberMe" name="Login.RememberMe" type="checkbox" value="true"><span>No cerrar sesión</span><input name="Login.RememberMe" type="hidden" value="false"></label>
                                    <a href="/forgot">¿Olvidaste tu contraseña?</a>
                                </div>
                                <button type="submit" id="" class="bton bton_login">
                                    Iniciar sesión
                                </button>
                                <div class="register-box">
                                    <p>¿Todavía no estás registrado? </p>
                                    <a href="#" id="registerPopupOpen" data-go-register="">Registrate ahora</a>
                                </div>
                            </form>  
                        </div>
                    </div>
                </div> 
            </section>  
        </main>
        <footer>
            <div class="container">
                <div class="bottom">
                    <a href="#" class="logo-footer">
                        <img src="/images/logo2.png" alt="logo">
                    </a>
                    <div class="copy">
                        <div>
                          <span>© 2021 Anchorena Propiedades</span> Todos los derechos reservados.
                        </div>
                        <div class="links">
                            <a href="#">La empresa</a>
                            <a href="#">Servicios</a>
                            <a href="#">Tasaciones</a>
                            <a href="#">Sucursales</a>
                            <a href="#">Contacto</a>
                            <a href="#">Trabaja con nosotros</a>
                        </div>
                     </div>
                        <div class="socials">
                            <a href="#" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#" target="_blank">
                                <i class="fa fa-facebook-official"></i>
                            </a>
                            <a href="#" target="_blank">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                            <a href="#" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </div>
                </div>
            </div>
        </footer>
    </div>   
</body>
</html>