<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a Anchorena Propiedades</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles_mariano.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/565ee1d35a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header>
            <div class="row_header_container">
                <div class="header_logo">
                    <img src="/images/logo.png">
                </div>
                <div class="header_nav">
                    <nav>
                        <a href="#">Buscar</a>
                        <a href="#">Propiedades</a>
                        <a href="#">Countries</a>
                        <a href="#">Garantias de alquiler</a>
                    </nav>
                </div>
                <div class="header_micuenta">
                    <i class="far fa-user"></i>
                    <span class="tittle_cuenta">Mi Cuenta</span>
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="log_container">
                    <div class="login_form">
                        <div class="popup-header">
                            <p class="login-title">Iniciar sesión</p>
                            <button class="popup-close">
                                <i class="far fa-window-close"></i>
                            </button>
                        </div>
                        <div class="popup-content"></div>
                            <button id="" type="button" class="bton bton_facebook" >
                                <i class="fab fa-facebook-f"></i>
                                Iniciar sesión
                            </button>
                            <button id="" type="button" class="bton bton_google" >
                                <i class="fab fa-google"></i>
                                Iniciar sesión
                            </button>
                            <button id="" type="button" class="bton bton_apple" >
                                <i class="fab fa-apple"></i>
                                Iniciar sesión
                            </button><br>

                            <form class="contactar" action="/" method="POST" class="create-form">
                                <div class="control-formulario">
                                    <input type="text" name="mail" placeholder="Email *">
                                </div>    
                                <div class="control-formulario">
                                <input type="text" name="tel" placeholder="Teléfono">
                                </div>
                                <div class="remember-forgot">
                                    <label class="checkbox-styled"><input checked="checked" class="remember-me" id="Login_RememberMe" name="Login.RememberMe" type="checkbox" value="true"><span>No cerrar sesión</span><input name="Login.RememberMe" type="hidden" value="false"></label>
                                    <a href="#">¿Olvidaste tu contraseña?</a>
                                </div>
                                <button type="submit" id="" class="bton bton_login">
                                    Iniciar sesión
                                </button>
                                <div class="register-box">
                                    <p>¿Todavía no estás registrado? </p>
                                    <a href="#" id="registerPopupOpen" data-go-register="">Registrate ahora</a>
                                </div>
                            </form>  
                        </div>
                    </div>
                </div>    
            </div>
        </main>
        <footer>
            <div class="footer_container">
                <div class="footer_site-info">
                        <p class="footer_site-description">
                                Encontrá propiedades e inmuebles en venta y alquiler, casas, departamentos, terrenos, locales, oficinas, quintas, PH, cocheras y más en Argenprop.
                        </p>
                        <ul>
                            <li>
                                <a href="#">Términos y Condiciones</a>
                            </li>
                            <li>
                                <a href="#">Normas de Confidencialidad y Privacidad</a>
                            </li>
                        </ul>
                </div>
                <div class="footer_site-map">
                    <p class="footer_title">Mapa de sitio</p>
                    <ol>
                        <li><a href="/"><i class="fas fa-chevron-right"></i> Buscar propiedades</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Emprendimientos</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Countries</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i></i> Garantías de Alquiler</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i></i> Publicar</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i> Mi cuenta</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i> Contactenos</a></li>
                    </ol>
                </div>
                <div class="footer_site-contact">
                    <p class="footer_title">Contacto</p>
                    <ul>
                        <li>Escribinos a info@anchorenaprop.com,
                        Debido a la situación actual estamos respondiendo todas las consultas vía email.</li>
                    </ul>
                    <ul class="social-icons">
                        <li>
                            <a href="#" target="_blank" rel="noopener">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#" target="_blank" rel="noopener">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" target="_blank" rel="noopener">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                            <a href="#" target="_blank" rel="noopener">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a href="#" target="_blank" rel="noopener">
                                <i class="fab fa-pinterest-square"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>    
        </footer>
    </div>
</body>
</html>