<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a Anchorena Propiedades</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles_mariano.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/565ee1d35a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header>
            <div class="row_header_container">
                <div class="header_logo">
                    <img src="/images/logo.png">
                </div>
                <div class="header_nav">
                    <nav>
                        <a href="#">Buscar</a>
                        <a href="#">Propiedades</a>
                        <a href="#">Countries</a>
                        <a href="#">Garantias de alquiler</a>
                    </nav>
                </div>
                <div class="header_micuenta">
                    <i class="far fa-user"></i>
                    <span class="tittle_cuenta">Mi Cuenta</span>
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
        </header>
        <main>
            <div class="main_container">
            <section>
                <div class="product_detail">
                    <div class="titlebar">
                        <h3 class="titlebar_address">Juan B Justo al 4000</h3>
                        <p class="titlebar_price">
                            <span>USD</span>
                            78.880
                        </p>
                        <h2 class="titlebar_title">Departamento en Venta en Villa Crespo, Capital Federal</h2>
                    </div>  
                    <div class="property-slider">
                        <div class="property-carousel">
                            <img src="images/departamento.jpg">
                        </div>
                    </div>
                    <div class="property-description">
                        <ul class="property-main-features">
                            <li>
                                <i class="fab fa-codepen"></i>
                                <p>Superficie cubierta</p>
                                <span>46 m²</span>
                            </li>
                            <li>
                                <i class="fas fa-bed"></i>
                                <p>Dormitorios</p>
                                <span>1</span>
                            </li>
                            <li>
                                <i class="fas fa-calendar-alt"></i>
                                <p>Antiguedad</p>
                                <span>A Estrenar</span>
                            </li>
                            <li>
                                <i class="fas fa-bath"></i>
                                <p>Baños</p>
                                <span>1</span>
                            </li>
                        </ul>
                    </div>
                    <div class="location">
                        <p class="section-title" id="location">Ubicación</p>
                        <p><i class="fas fa-map-marker-alt"></i>Juan B Justo al 4000</p>
                        <div class="map-container">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.9805086738015!2d-58.46066318491966!3d-34.604654380459245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca0158c8bec7%3A0xa6740f0bb851b355!2sAv.%20Juan%20B.%20Justo%204000%2C%20C1425%20CABA!5e0!3m2!1ses-419!2sar!4v1612264839174!5m2!1ses-419!2sar" width="800" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                    <div class="property-details">
                        <p class="section-title">Descripción</p>
                        <p><strong>Departamento 2 Ambientes con amenities muy luminoso edificio con amenities</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis doloribus natus dolorem, iure quas labore provident perferendis ut amet iusto omnis inventore quos quibusdam ipsam.</p>
                        <p>Dolorem, doloribus! Quae, excepturi accusamus doloremque consequuntur illo harum est sapiente! Tempora rem provident, suscipit sed iure, beatae doloribus pariatur at sit ipsam consequatur officia.</p>
                        <p>Facere dolore magni quo commodi unde blanditiis repellat autem amet vitae officiis sapiente culpa, quasi minima quisquam sint voluptatum excepturi quae distinctio labore magnam optio.</p>
                    </div>
                    <div class="sub-property-details">
                        <div class="property-features-title">
                        <p class="carac_tittle"><i class="fas fa-angle-down"></i>
                            Características</p>
                             <ul id="section_1" class="property-features">
                                 <li>
                                     <p>
                                         Cant. Dormitorios:
                                         <strong>1</strong>
                                     </p>
                                 </li>
                                 <li>
                                     <p>
                                         Cant. Baños:
                                         <strong>1</strong>
                                     </p>
                                 </li>
                             </ul>    
                         </div>
                         <div class="property-features-title">
                             <p class="carac_tittle"><i class="fas fa-angle-down"></i>
                            Datos Básicos</p>
                             <ul id="section_1" class="property-features">
                                 <li>
                                     <p>
                                         Tipo Operación:
                                         <strong>Venta</strong>
                                     </p>
                                 </li>
                                 <li>
                                     <p>
                                         Precio:
                                         <strong>USD 78.800</strong>
                                     </p>
                                 </li>
                             </ul>    
                         </div>
                         <div class="property-features-title">
                             <p class="carac_tittle"><i class="fas fa-angle-down"></i>
                           Superficie</p>
                             <ul id="section_1" class="property-features">
                                 <li>
                                     <p>
                                         Sup. Cubierta:
                                         <strong>46 m2</strong>
                                     </p>
                                 </li>
                             </ul>    
                         </div>
                         <div class="property-features-title">
                             <p class="carac_tittle"><i class="fas fa-angle-down"></i>
                           Ambientes del departamento</p>
                             <ul id="section_1" class="property-features">
                                 <li>
                                     <p>Baño</p>
                                 </li>
                                 <li>
                                     <p>Cocina</p>
                                 </li>
                                 <li>
                                     <p>Dormitorio</p>
                                 </li>
                                 <li>
                                     <p>Jardin</p>
                                 </li>
                             </ul>    
                         </div>
                    </div>
                </div>
                <div class="product_form">
                    <form class="contactar" action="/" method="POST" class="create-form">
                        <div class="control-formulario">
                            <div class="logo_contacto"></div>
                                <label>INMOBILIARIA LOPEZ</label><br>
                                <a href="#">Ver avisos de la inmobiliaria</a><br>
                                <label><i class="fas fa-phone-alt"></i>Ver telefono</label><br>
                        </div>        
                        <div class="control-formulario">    
                            <input type="text" name="mail" placeholder="Email *">
                        </div>    
                        <div class="control-formulario">
                        <input type="text" name="tel" placeholder="Teléfono">
                        </div>
                        <div class="control-formulario">
                            <label for="Comentario">Mensaje *</label>
                            <textarea cols="25" data-maxlength-text="Ha superado la cantidad máxima de caracteres (255)" data-required-text="Este campo es obligatorio." id="Comentario" maxlength="255" name="Comentario" required="" rows="3">Hola, vi esta propiedad y quiero que me contacten. Gracias.</textarea>
                        </div>
                        <button type="submit" class="boton-formulario">Contactar</button>
                    </form>  
                </div>
                <div class"favoritos">
                    <button class="boton-formulario">Agregar a Favoritos</button>
                </div>              
            </section>
            </div>
        </main>
        <footer>
            <div class="footer_container">
                <div class="footer_site-info">
                        <p class="footer_site-description">
                                Encontrá propiedades e inmuebles en venta y alquiler, casas, departamentos, terrenos, locales, oficinas, quintas, PH, cocheras y más en Argenprop.
                        </p>
                        <ul>
                            <li>
                                <a href="#">Términos y Condiciones</a>
                            </li>
                            <li>
                                <a href="#">Normas de Confidencialidad y Privacidad</a>
                            </li>
                        </ul>
                </div>
                <div class="footer_site-map">
                    <p class="footer_title">Mapa de sitio</p>
                    <ol>
                        <li><a href="/"><i class="fas fa-chevron-right"></i> Buscar propiedades</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Emprendimientos</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Countries</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i></i> Garantías de Alquiler</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i></i> Publicar</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i> Mi cuenta</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i> Contactenos</a></li>
                    </ol>
                </div>
                <div class="footer_site-contact">
                    <p class="footer_title">Contacto</p>
                    <ul>
                        <li>Escribinos a info@anchorenaprop.com,
                        Debido a la situación actual estamos respondiendo todas las consultas vía email.</li>
                    </ul>
                    <ul class="social-icons">
                        <li>
                            <a href="#" target="_blank" rel="noopener">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#" target="_blank" rel="noopener">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" target="_blank" rel="noopener">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                            <a href="#" target="_blank" rel="noopener">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a href="#" target="_blank" rel="noopener">
                                <i class="fab fa-pinterest-square"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>    
        </footer>
    </div>
</body>
</html>