<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/heads/headDef") %>
<body>
    <div id="container-main">
        <%- include("./partials/header") %> 
        <main>
            <section class="section-main">
                <div class="izquierda">
                        <p class="titulo">Tasaciones</p>
                        <p class="parrafo">Anchorena propiedades ofrece servicios de tasacion en todas las provincias del pais.
                            Solo debes contactarte con nosotros enviando algunos datos tuyos y de tu propiedad.
                            A la brevedad uno de nuestros agentes se contactara contigo para pedir mas informacion y establecer el valor de tu propiedad.
                        </p>
                        <p class="contacto-titulo">¿Tienes mas preguntas?</p>
                        <p class= "contactos">Ponte en contacto con nuestra sede central por los siguientes medios.</p>
                        <div class="instagram">
                            <img src="images/instagram.png" alt="instagram" height="30px" width="30px">
                            <p>@Anchorena_Propiedades</p>
                        </div>
                        <div class="telefono">
                            <img src="images/telefono.png" alt="telefono" height="30px" width="30px">
                            <p>3679-2981</p>
                        </div>
                </div>
                <div class="derecha">
                    <form action="#" method="POST" class="formulario-tasacion">
                        <div class="espacios-formulario">
                            <input type="text"  name="nombre y apellido" placeholder="Nombre y Apellido">
                        </div>
                        <div class="espacios-formulario">
                            <input type="email"  name="email" placeholder="Email">
                        </div>
                        <div class="espacios-formulario">
                            <input type="tel"  name="telefono" placeholder="Telefono">
                        </div>
                        <div class="espacios-formulario-comentario">
                            <input type="text"  name="comentario" placeholder="Comentario">
                        </div>
                            <span class="boton-enviar">Enviar</span>
                    </form>
                </div>
            </section>
        </main>
    <!--FOOTER-->
    <%- include("./partials/footer") %> 
</body>
</html>