<!DOCTYPE html>
<html lang="en">


    <%- include("./partials/heads/headtasaciones.ejs") %>


<body>

    <!--HEADER-->
    <div id="container-main">

        <%- include("./partials/header") %>

<!--MAIN-->
        <main>
            <section class="section-main">
                <div class="izquierda">
                        <p class="titulo">Tasaciones</p>
                        <p class="parrafo">Anchorena propiedades ofrece servicios de tasacion en todas las provincias del pais.
                            Solo debes contactarte con nosotros enviando algunos datos tuyos y de tu propiedad.
                            A la brevedad uno de nuestros agentes se contactara contigo para pedir mas informacion y establecer el valor de tu propiedad.
                        </p>
                        <p class="contacto-titulo">¿Tienes mas preguntas?</p>
                        <p class= "contactos">Ponte en contacto con nuestra sede central por los siguientes medios</p>


                </div>
                <div class="derecha">
                    
                </div>
                
            </section>







          








        </main>
    
    <!--FOOTER-->
  
    <%- include("./partials/footer") %> 
    

</body>
</html>