/* Documento CSS para La empresa*/
/*GENERAL*/


*​ {
    margin: ​0px;
    padding: ​0px;
    box-sizing: ​border-box​;
  }
  
  body {
    font-family: "Rubik", sans-serif;
    color: #878787;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
    background: -webkit-linear-gradient(
        to right,
        rgba(61, 115, 180, 0.61),
        rgba(82, 82, 82, 0.603)
      ),
      url("../images/header.jpg"); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        rgba(61, 115, 180, 0.603),
        rgba(82, 82, 82, 0.61)
      ),
      url("../images/header.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  

  /*HEADER*/
header {
    background-color: rgba(223, 223, 223, 0.5);
    border-bottom: 1px solid white;
  }
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  header .container > a img {
    transition: 0.3s;
  }
  header .container .content-nav {
    height: 100%;
  }
  header .container .content-nav nav {
    height: 100%;
    display: flex;
  }
  header .container .content-nav nav > * {
    height: 100%;
    font-size: 16px;
    color: white;
    font-weight: 700;
    margin-right: 39px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 19px;
    position: relative;
  }
  .header_micuenta {
    text-align: right;
    padding-top: 80px;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
    color: white;
    line-height: 10px;
    flex-basis: 100%;
    flex: 1;
  }
  
  .content-nav {
    display: none;
  }
  
  .container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 190px;
    text-align: left;
  }
  
  .mobile-nav i {
    width: 40px;
    padding: 10px;
    color: white;
    font-size: 2em;
  }


  /*MAIN*/
.section-main{

    margin: auto;
    height: 100%;
    background-color: white;
    margin-top: 75px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left:  10%;
    padding-right: 10%;

}

.titulo  {

    color: black;
    font-size: 40px;
    text-align: center;
    width: 60;
    
    
}

.parrafo-1  {

    text-align: justify;
    color:black;
}

.parrafo-2 {

    text-align: right;
    color: black;
    margin-top: 40px;
    padding-right: 60px;
}

.titulo-2{
    color: black;
    font-size: 40px;
    text-align: center;
    width: 60;
    margin-top: 100px;
}

.parrafo-3{

    


}
/*FOOTER*/
/*footer*/

  
  /*media queries*/
  
  
  