*​ {
  margin: ​0px;
  padding: ​0px;
  box-sizing: ​border-box​;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #ebebeb;
}

/* normalize */

html,
body {
  height: 100vh;
}

.container {
  background-color: #e0e0e0;
  width: 100%;
}
/*inicio header*/
header {
  width: 100%;
  position: relative;
  background: #525252; /* fallback for old browsers */
  background: -webkit-linear-gradient(
      to right,
      rgba(61, 115, 180, 0.61),
      rgba(82, 82, 82, 0.603)
    ),
    url("../images/header.jpg"); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      rgba(61, 115, 180, 0.603),
      rgba(82, 82, 82, 0.61)
    ),
    url("../images/header.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.row_header_container > div.header_logo {
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  flex: 1;
}
.col {
  background-color: #e0e0e0;
}

/* Mobile */
.row_header_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.header_logo {
  width: 50%;
  height: 50%;
  float: left;
  flex-basis: 100%;
}
.header_logo img {
  height: 50%;
  width: 50%;
}

.row_header_container > div.header_nav {
  flex-basis: 100%;
  font-weight: bold;
  text-align: left;
  padding-top: 90px;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  flex: 3;
}
.header_nav a {
  text-decoration: none;
  font-family: poppins;
  font-size: 20px;
  margin: 0 10px;
  color: white;
}

.row_header_container > div.header_micuenta {
  text-align: right;
  padding-top: 80px;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
  color: white;
  line-height: 10px;
  flex-basis: 100%;
  flex: 1;
}

/*fin header*/

/*Inicio Main*/
.main_container {
  text-align: left;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product_detail {
  flex-basis: 100%;
  /* gutter */
  margin: 10px;
  width: 75%;
  float: left;
  background-color: #ffffff;
  border: #000000 1px solid; /* ponemos un donde para que se vea bonito */
}

.product_detail img {
  width: 100%;
}

.product_form {
  width: 75%;
  flex-basis: 100%;
  /* gutter */
  margin: 10px;
  width: 20%; /* Este será el ancho que tendrá tu columna */
  background-color: #cccccc; /* Aquí pon el color del fondo que quieras para este lateral */
  float: right;
}
.create-form {
  padding: 20px 15px;
}
.product_form {
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 2px;
  display: inline-block;
  position: relative;
}

.logo_contacto {
  width: 50px;
  height: 50px;
  color: grey;
  background-color: grey;
}

.create-form label {
  background-color: #fff;
  font-size: 12px;
  top: -6px;
  left: 10px;
  padding: 0 5px;
  margin-bottom: 15px;
}

.boton-formulario {
  background-color: #39b54a;
  border: none;
  font-size: 20px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.control-formulario {
  margin-bottom: 15px;
}
.favoritos {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
}

.property-description {
  font-weight: 400;
}

.property-description .property-main-features {
  background-color: #f2f2f2;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  margin: 0;
}
.property-description .property-main-features li {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 10px;
  flex: 1;
  font-weight: 400;
}
.property-description .property-main-features li i {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.property-description section .section-title {
  color: #202020;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 35px 0 15px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.location {
  margin: 10px;
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 2px;
  display: inline-block;
}
.property-details {
  width: 95%;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 2px;
  display: inline-block;
}
.sub-property-details {
  width: 95%;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 2px;
  display: inline-block;
}
.property-features-title {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.property-description .property-features-title button {
  color: #202020;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  text-align: left;
  padding: 0;
  margin: 0;
  outline: none;
}

/*Fin Main*/

/*inicio footer*/

.footer_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer_site-map {
  flex: 1;
  width: 23%;
}
.footer_site-info {
  flex: 1;
  width: 43%;
}
.footer_site-contact {
  flex: 1;
  width: 33%;
}
.footer_site-logo {
  width: 50px;
  height: 50px;
}
.footer_site-description {
  margin: 10px 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  text-align: right;
}
p.footer_title {
  font-weight: bold;
  text-align: center;
}

/*fin footer*/

/* Tablets */
@media (min-width: 460px) {
  .header_micuenta,
  .header_nav,
  .header_logo {
    flex: 1;
  }
  .col.cuadruple_sm {
    flex: 4;
  }
  .col.triple_sm {
    flex: 3;
  }
  .col.doble_sm {
    flex: 2;
  }
}

@media (min-width: 768px) {
  .col.cuadruple_md {
    flex: 4;
  }
  .col.triple_md {
    flex: 3;
  }
  .col.doble_md {
    flex: 2;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  .col.cuadruple_lg {
    flex: 4;
  }
  .col.triple_lg {
    flex: 3;
  }
  .col.doble_lg {
    flex: 2;
  }
}
