*​ {
  margin: ​0px;
  padding: ​0px;
  box-sizing: ​border-box​;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #ebebeb;
}

/* normalize */

html,
body {
  height: 100vh;
}

.container {
  background-color: #e0e0e0;
  width: 100%;
}
/*inicio header*/
header {
  width: 100%;
  position: relative;
  background: #525252; /* fallback for old browsers */
  background: -webkit-linear-gradient(
      to right,
      rgba(61, 115, 180, 0.61),
      rgba(82, 82, 82, 0.603)
    ),
    url("../images/header.jpg"); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      rgba(61, 115, 180, 0.603),
      rgba(82, 82, 82, 0.61)
    ),
    url("../images/header.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.row_header_container > div.header_logo {
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  flex: 1;
}
.col {
  background-color: #e0e0e0;
}

/* Mobile */
.row_header_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.header_logo {
  width: 50%;
  height: 50%;
  float: left;
  flex-basis: 100%;
}
.header_logo img {
  height: 50%;
  width: 50%;
}

.row_header_container > div.header_nav {
  flex-basis: 100%;
  font-weight: bold;
  text-align: left;
  padding-top: 90px;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  flex: 3;
}
.header_nav a {
  text-decoration: none;
  font-family: poppins;
  font-size: 20px;
  margin: 0 10px;
  color: white;
}

.row_header_container > div.header_micuenta {
  text-align: right;
  padding-top: 80px;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
  color: white;
  line-height: 10px;
  flex-basis: 100%;
  flex: 1;
}

/*fin header*/

/*Inicio Main*/
.main_container {
  text-align: left;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product_detail {
  flex-basis: 100%;
  /* gutter */
  margin: 10px;
  width: 75%;
  float: left;
  background-color: #ffffff;
  border: #000000 1px solid; /* ponemos un donde para que se vea bonito */
}

.product_detail img {
  width: 100%;
}

.product_form {
  width: 75%;
  flex-basis: 100%;
  /* gutter */
  margin: 10px;
  width: 20%; /* Este será el ancho que tendrá tu columna */
  background-color: #cccccc; /* Aquí pon el color del fondo que quieras para este lateral */
  float: right;
}
.create-form {
  padding: 20px 15px;
}
.product_form {
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 2px;
  display: inline-block;
  position: relative;
}

.logo_contacto {
  width: 50px;
  height: 50px;
  color: grey;
  background-color: grey;
}

.create-form label {
  background-color: #fff;
  font-size: 12px;
  top: -6px;
  left: 10px;
  padding: 0 5px;
  margin-bottom: 15px;
}

.boton-formulario {
  background-color: #39b54a;
  border: none;
  font-size: 20px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.control-formulario {
  margin-bottom: 15px;
}
.favoritos {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
}

.property-description {
  font-weight: 400;
}

.property-description .property-main-features {
  background-color: #f2f2f2;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  margin: 0;
}
.property-description .property-main-features li {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 10px;
  flex: 1;
  font-weight: 400;
}
.property-description .property-main-features li i {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.property-description section .section-title {
  color: #202020;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 35px 0 15px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.location {
  margin: 10px;
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 2px;
  display: inline-block;
}
.property-details {
  width: 95%;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 2px;
  display: inline-block;
}
.sub-property-details {
  width: 95%;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 2px;
  display: inline-block;
}
.property-features-title {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.property-description .property-features-title button {
  color: #202020;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  text-align: left;
  padding: 0;
  margin: 0;
  outline: none;
}
.forgot_container {
  background-color: #fff;
  padding: 30px;
  overflow: hidden;
  position: fixed;
  max-height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  z-index: 9003;
  transition: max-height ease-in-out 0.3s;
  border-radius: 5px;
  box-shadow: 0 1px 7px rgb(0 0 0 / 30%);
}
.log_container {
  display: none;
  background-color: #fff;
  padding: 30px;
  overflow: hidden;
  position: fixed;
  max-height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  z-index: 9003;
  transition: max-height ease-in-out 0.3s;
  border-radius: 5px;
  box-shadow: 0 1px 7px rgb(0 0 0 / 30%);
}
.login_form {
  background: #fff;
  padding: 30px;
}
.login-title {
  margin: auto;
  color: #202020;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}
.popup .popup-header .login-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 0 20px;
  text-align: center;
  width: 100%;
  font-weight: bold;
}
.popup-close {
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  position: absolute;
  top: 5px;
  right: 5px;
  outline: none;
}
.bton {
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-decoration: none;
  outline: none;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  padding: 0 23px;
  line-height: 34px;
  min-width: 64px;
  padding-top: 10px;
}
.bton_apple,
.bton_facebook,
.bton_google,
.bton_login .bton {
  display: block;
  padding-bottom: 5px;
}
.bton_facebook {
  background: #3b5998;
  color: #fff;
  padding: 0px 13px;
  margin: auto;
  margin-bottom: 4px;
  width: 100%;
}
.bton_google {
  background: #dd4b39;
  color: #fff;
  padding: 0px 13px;
  margin: auto;
  margin-bottom: 4px;
  width: 100%;
}
.bton_apple {
  background: #000;
  color: #fff;
  padding: 0px 13px;
  margin: auto;
  margin-bottom: 4px;
  width: 100%;
}
.bton_login {
  background: #096722;
  color: #fff;
  padding: 0px 13px;
  margin: auto;
  width: 100%;
}

.checkbox-styled span {
  display: block;
  cursor: pointer;
  position: relative;
  font-weight: 400;
  padding-left: 26px;
  user-select: none;
}
.remember-forgot a {
  color: #096722;
  text-decoration: none;
}

.checkbox-styled {
  display: inline-block;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.checkbox-styled span {
  display: block;
  cursor: pointer;
  position: relative;
  font-weight: 400;
  padding-left: 26px;
  user-select: none;
}
.remember-forgot a {
  float: right;
  font-size: 12px;
  margin-top: 15px;
}
.checkbox-styled input {
  display: none;
}

.remember-forgot {
  margin: auto;
}
.remember-forgot input,
span,
a {
  margin: auto;
}

.login_form input {
  display: block;
  color: #202020;
  border: 1px solid #d8d8d8;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  padding: 0 14px;
  line-height: 38px;
  position: relative;
  width: 100%;
  outline: none;
  border-radius: 4px;
}

.register-box {
  font-size: 16px;
  margin: 10px 0 0;
  text-align: center;
}

/*Fin Main*/

/*inicio footer*/

.footer_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer_site-map {
  flex: 1;
  width: 23%;
}
.footer_site-info {
  flex: 1;
  width: 43%;
}
.footer_site-contact {
  flex: 1;
  width: 33%;
}
.footer_site-logo {
  width: 50px;
  height: 50px;
}
.footer_site-description {
  margin: 10px 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  text-align: right;
}
p.footer_title {
  font-weight: bold;
  text-align: center;
}

/*fin footer*/

/* Tablets */
@media (min-width: 460px) {
  .header_micuenta,
  .header_nav,
  .header_logo {
    flex: 1;
  }
  .col.cuadruple_sm {
    flex: 4;
  }
  .col.triple_sm {
    flex: 3;
  }
  .col.doble_sm {
    flex: 2;
  }
}

@media (min-width: 768px) {
  .col.cuadruple_md {
    flex: 4;
  }
  .col.triple_md {
    flex: 3;
  }
  .col.doble_md {
    flex: 2;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  .col.cuadruple_lg {
    flex: 4;
  }
  .col.triple_lg {
    flex: 3;
  }
  .col.doble_lg {
    flex: 2;
  }
}
