*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Rubik", sans-serif;
    background-color: #ebebeb;
}

img.logo {
    border-style: none;
    width: 100%;
}

html, body {
    height: 100vh;
}

.main-header{
    display: flex;
    background: -webkit-linear-gradient(
        to right,
        rgba(61, 115, 180, 0.61),
        rgba(82, 82, 82, 0.603)
      ),
      url("../images/header.jpg"); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        rgba(61, 115, 180, 0.603),
        rgba(82, 82, 82, 0.61)
      ),
      url("../images/header.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;

}


.top-navbar{
    /* display: flex; */
    width: 90%;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    color: white;
    text-decoration: none;
    flex: 1;
}

.top-navbar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    list-style-type: none;
    margin: 2px;
    padding: 15px;
    font-size: 12px;
    color: mintcream;
    }

    .hamburguer-button{
      background-color: #0044AA;
      color: #ffffff;
      display: block;
      max-width: 50px;
      padding: 15px 0;
      border-radius: 8px;
      text-align: center;
      font-size: 18px;
      margin: auto;
      position: fixed;
      top: 150px;
      right: 50%;

  }


.form-buscar form{
    display: flex; 
    margin: auto;
    margin-bottom: 5px;
    width: 80%;
        
}       

.div-buscar{
    width: 100%;
}
.div-buscar input{
    width: 100%;
}


.main-navbar{
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    border: solid black 1px;
    margin: auto;
    padding: 20px;
    max-width: 90%;
    font-size: 15px;
}
.main-navbar ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    width: 100%;

    }

 
.destacadas{
    display: flex;
    flex-wrap: wrap;
}
.foto-destacadas img{
    width: 90%;
    padding: 10px;
    display: flex;
}
a.foto-destacadas{
  width: 45%;
  display: flex;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    border: solid black 1px;
    margin: auto;
    padding: 20px;
    max-width: 90%;
    font-size: 15px;
    flex-direction: column;
    align-items: flex-end;

}


/*inicio footer*/

.footer_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .footer_site-map {
    flex: 1;
    width: 23%;
  }
  .footer_site-info {
    flex: 1;
    width: 43%;
  }
  .footer_site-contact {
    flex: 1;
    width: 33%;
  }
  .footer_site-logo {
    width: 50px;
    height: 50px;
  }
  .footer_site-description {
    margin: 10px 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  ul,
  li {
    list-style: none;
  }
  .footer_container a {
    text-decoration: none;
    color: black;
    text-align: right;
  }
  p.footer_title {
    font-weight: bold;
    text-align: center;
  }