*​ {
  margin: ​0px;
  padding: ​0px;
  box-sizing: ​border-box​;
}

body {
  font-family: "Rubik", sans-serif;
  color: #878787;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  background: -webkit-linear-gradient(
      to right,
      rgba(61, 115, 180, 0.61),
      rgba(82, 82, 82, 0.603)
    ),
    url("../images/header.jpg"); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      rgba(61, 115, 180, 0.603),
      rgba(82, 82, 82, 0.61)
    ),
    url("../images/header.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

div .UserLogin{
  display: flex;
  align-content: space-between;
  flex-direction: column;

}


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
.container-main {
  z-index: 10;
  position: relative;
}
header {
  background-color: rgba(223, 223, 223, 0.5);
  border-bottom: 1px solid white;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
header .container > a img {
  transition: 0.3s;
}
header .container .content-nav {
  height: 100%;
}
header .container .content-nav nav {
  height: 100%;
  display: flex;
}
header .container .content-nav nav > * {
  height: 100%;
  font-size: 16px;
  color: white;
  font-weight: 700;
  margin-right: 39px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 19px;
  position: relative;
}

.content-nav {
  display: none;
}

.container img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 190px;
  text-align: left;
}

.mobile-nav i {
  width: 40px;
  padding: 10px;
  color: white;
  font-size: 2em;
}

/*main*/
/*titulo banner*/
.banner {
  text-align: center;
  max-width: 1020px;
  padding-top: 105px;
  font-weight: 700;
  margin: auto;
}

.banner .form-search {
  margin-top: 30px;
  height: auto;
  flex-direction: column;
}

/*opciones de busqueda*/
.form-search .radio-group {
  flex-wrap: wrap;
  justify-content: space-around;
}

.banner .form-search .radio-group > div {
  margin-bottom: 5px;
  flex: 1;
  margin-right: 5px;
}

.radio-group input[type="radio"] {
  display: none;
}

.banner .form-search .radio-group {
  flex-wrap: wrap;
  justify-content: space-around;
}

.banner .form-search .radio-group {
  display: flex;
  justify-content: space-between;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.banner .form-search .radio-group > div .btn {
  font-size: 11px;
  padding: 4px 17px;
  display: block;
  font-weight: 500;
}
.radio-group input[type="radio"]:checked + label {
  background: #9c9c9c;
}

h1,
span.title-search {
  color: white;
  font-size: 32px;
  line-height: 36px;
}

/*formulario de busqueda*/

.searchbox {
  display: flex;
  margin-top: 17px;
  height: auto;
  flex-direction: column;
  border-radius: 20px;
  padding: 5px;
}

.searchbox .radio-group-2 {
  border-radius: 0;
  height: 38px;
}
.searchbox .radio-group-2 {
  display: flex;
  justify-content: space-around;
  background: #e0e0e0;
  padding-top: 10px;
  border-radius: 10px 10px 0 0;
}

.searchbox .input-search {
  flex: 1;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  position: relative;
}

.searchbox .input-search {
  border-radius: 0;
  height: 38px;
  width: 100%;
  flex: initial;
}

.btn {
  font-size: 14px;
  font-weight: 700;
  color: white;
  background: #9c9c9c;
  transition: 0.3s;
  padding: 10px 17px;
  cursor: pointer;
  border-radius: 30px;
}

.searchbox .input-search input {
  width: 90%;
  height: 100%;
  padding-left: 30px;
  font-weight: 700;
  padding-right: 120px;
}
input {
  margin: 0;
  border: 0;
}
.searchbox .input-search .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

/*destacados*/
.destacado {
  padding: 10px 10px 0 10px;
}
h3 {
  font-size: 26px;
}
h3 {
  font-size: 32px;
  color: white;
  font-weight: 750;
  margin: 0;
}
.grid {
  display: grid;
  grid-column-gap: 60px;
  grid-row-gap: 0px;
  /* margin: 0 auto; */
  padding-top: 20px;
}
#destacado .grid .item {
  margin-bottom: 5px;
}

.destacado .grid .item {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
}

.destacado .grid .item .mask .grid > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destacado .grid .item .mask {
  position: relative;
  background: #e0e0e0;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.destacado .grid .item .mask .top {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.destacado .grid .item .mask .grid > div a {
  border-bottom: 1px solid black;
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 7px;
  margin-bottom: 8px;
  /* max-width: 200px; */
  width: 100%;
  transition: 0.3s;
}
.destacado .grid .item .mask .grid > div a {
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-size: 16px;
}

.grid.col2 {
  grid-template-columns: 1fr 1fr;
}

a {
  text-decoration: none;
}

/* Propiedades en oferta */
.destacado .grid .item .mask .grid .ofertas {
  flex-direction: row;
}

.destacado .grid .item .mask .grid .ofertas a {
  width: 100%;
}
.destacado .grid .item .mask .grid .ofertas a img {
  width: 60%;
  border-radius: 10px;
}
.destacado .grid .item .mask .grid col1 {
  width: 100%;
}

/*footer*/
footer .container {
  background-color: rgba(223, 223, 223, 0.5);
}

footer .container .bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

footer .container .bottom .copy {
  margin-bottom: -5px;
  flex: 1;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
footer .container .bottom .logo-footer img {
  width: 214px;
}
footer .container .bottom .copy .links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
footer .container .bottom .copy > div {
  width: 100%;
  max-width: 680px;
  margin: auto;
}
footer .container .bottom .copy .links a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-right: 30px;
  position: relative;
  transition: 0.3s;
}
footer .container .bottom .socials a {
  color: white;
  font-size: 28px;
  margin-right: 18px;
  transition: 0.3s;
  margin-bottom: 20px;
}

/*product detail*/
/*encabezado*/
section .propiedad_detail {
  height: 330px;
  padding-left: 0;
  padding-right: 0;
}
.tabs .tab label {
  margin-top: -44px;
  height: 38px;
}
.tabs input[type="radio"] {
  display: none;
}

.tabs {
  display: flex;
  justify-content: space-between;
  flex: wrap;
  padding: 20px;
  background-color: rgba(223, 223, 223, 0.5);
}
.tabs input {
  text-decoration: none;
}

.tabs .tab label i {
  font-size: 16px;
}
.tabs .tab label {
  margin-top: -60px;
  height: 50px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  min-width: initial;
  width: 100% !important;
  max-width: initial;
  margin-right: 12px;
  border-radius: 90px;
}
.tabs .tab label {
  position: relative;
  top: 0;
  cursor: pointer;
  color: #333;
  max-width: 80px;
  margin-left: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabs.ready .tab {
  flex: 1;
}

/*galeria de imagenes*/
.galeria {
  width: 100%;
  height: 330px;
  padding-left: 0;
  padding-right: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(223, 223, 223, 0.5);
}

.galeria .open-galeria {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #eae9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  box-shadow: 1px 1px 3px #0000007a;
}

.galeria img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.precio {
  font-size: 32px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: black;
  padding-top: 10px;
}

/*detalle del producto*/
.caracteristicas {
  background-color: white;
  padding: 20px;
  border: 1px solid black;
}

.caracteristicas p {
  color: #333333;
  margin: 0;
}
.caracteristicas .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 984px;
  color: black;
}
.content-dir h1 {
  font-size: 24px;
  line-height: 36px;
  color: black;
  font-weight: 900;
  margin: 0;
}
.caracteristicas .container .main-description .top .content-dir h2 {
  font-size: 20px;
  line-height: 22px;
  color: black;
  font-weight: 600;
  margin: 0;
  margin-bottom: 6px;
}
.caracteristicas .container .main-description .top .content-dir h3 {
  font-size: 32px;
  color: black;
  font-weight: 750;
  margin: 0;
}

.caracteristicas .container .main-description .top {
  flex-direction: column;
  text-align: center;
}

.boton-favorito {
  background-color: #39b54a;
  border: none;
  font-size: 20px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
/*formulario contacto*/
.formulario-contacto {
  background-color: white;
  padding: 20px;
  border: 1px solid black;
}

.create-form {
  padding: 20px 15px;
  background-color: white;
}

.formulario-contacto .wrapper h4 {
  font-size: 18px;
  line-height: 24px;
  color: #333;
  font-weight: bold;
  margin: 0;
  margin-bottom: 6px;
}
.formulario-contacto .wrapper .tel {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
}
.formulario-contacto .wrapper strong {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}
.formulario-contacto .wrapper .contactar {
  margin-top: 10px;
}

.formulario-contacto .formulario .wrapper > div {
  width: 100%;
  max-width: 300px;
  padding: 0 16px;
  padding-bottom: 12px;
  padding-top: 14px;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 40%);
}
.formulario-contacto .wrapper .contactar input {
  width: 90%;
  height: 40px;
  border: 1px solid #e5e3e3;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  font-weight: 500;
  padding: 0 12px;
  margin-bottom: 10px;
}

.formulario-contacto .wrapper .contactar textarea {
  width: 100%;
  height: 80px;
  resize: none;
  border: 1px solid #e5e3e3;
  border-radius: 4px;
  font-size: 14px;
  color: #333333;
  padding-top: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}

.boton-enviar {
  background-color: #39b54a;
  border: none;
  font-size: 20px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  align-content: center;
}

@media (min-width: 361px) {
  .content-nav {
    display: none;
  }
}

@media (min-width: 769px) {
  .content-nav {
    display: block;
  }
  .mobile-nav {
    display: none;
  }
  header .container .content-nav nav {
    height: 100%;
    display: flex;
  }
  header .container .content-nav nav > * {
    font-size: 15px;
    margin-right: 26px;
    padding-bottom: 29px;
  }
  header .container .content-nav nav > * {
    height: 100%;
    font-size: 16px;
    color: white;
    font-weight: 900;
    margin-right: 39px;
    display: flex;
    align-items: flex-end;
    padding-top: 19px;
    position: relative;
  }
  a {
    text-decoration: none;
  }

  a {
    background-color: transparent;
  }
}

@media (min-width: 1200px) {
  /* .content-nav {
    display: none;
  } */
}

/*buscador de propiedades*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");

h2 {
  float: left;
  width: 100%;
  color: #fff;
  margin-bottom: 40px;
  font-size: 14px;
  position: relartive;
  z-index: 3;
  margin-top: 30px;
}
h2 span {
  font-family: "Libre Baskerville", serif;
  display: block;
  font-size: 45px;
  text-transform: none;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 700;
}
h2 a {
  color: #fff;
  font-weight: bold;
}

.head {
  float: left;
  width: 100%;
}
.search-box1 {
  width: 90%;
  margin: 0 auto 40px;
  box-shadow: 10px 13px 0 rgba(0, 0, 0, 0.2);
  border-color: black;
  border-style: solid 1px;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.media .fav-box {
  position: absolute;
  right: 10px;
  font-size: 20px;
  top: 4px;
  color: #e74c3c;
}
.listing-block {
  background: #fff;
  height: 500px;
  padding-top: 20px;
  overflow-y: scroll;
}
.slimScrollDiv {
  width: 41% !important;
}
.media {
  background: #fff;
  position: relative;
  margin-bottom: 15px;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
}
.media img {
  width: 200px;
  margin: 0;
  height: 136px;
}
.media-body {
  border: 1px solid #bcbcbc;
  border-left: 0;
  height: 136px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.media .price {
  float: left;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  color: #4765ab;
  padding-top: 10px;
}
.media .price small {
  display: block;
  font-size: 17px;
  color: #232323;
  padding-top: 5px;
}
.media .stats {
  float: left;
  width: 100%;
  margin-top: 10px;
}
.media .stats span {
  float: left;
  margin-right: 10px;
  font-size: 15px;
}
.media .stats span i {
  margin-right: 7px;
  color: #4765ab;
}
.media .address {
  float: left;
  width: 100%;
  font-size: 14px;
  margin-top: 5px;
  color: #888;
}
.media .fav-box {
  position: absolute;
  right: 10px;
  font-size: 20px;
  top: 4px;
  color: #e74c3c;
}

.map-box {
  background-color: #a3ccff;
}
.btn {
  padding-top: 5px;
  padding-bottom: 5px;
}
